<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :servicename %>
    <%= f.text_field :servicename %>
  </div>

  <div class="field">
    <%= f.label :singlecontainer %>
    <%= f.check_box :singlecontainer %>
  </div>

  <div class="field">
    <%= f.label "Enter Docker image name on DockerHub or" %>
    <%= f.label "Enter path to docker-compose file" %>
    <%= f.text_field :resourcepath %>
  </div>

  <div class="field">
    <%= f.label :command %>
    <%= f.text_field :command %>
  </div>

  <div class="field">
    <%= f.label :machine_type %>
    <%= f.text_field :machine_type %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
