<p id="notice"><%= notice %></p>

<p>
  <strong>Bucketname:</strong>
  <%= @bucket_config.bucketname %>
</p>

<p>
  <strong>Servicename:</strong>
  <%= @bucket_config.servicename %>
</p>

<p>
  <strong>Region:</strong>
  <%= @bucket_config.region %>
</p>


<%= link_to 'Edit', edit_bucket_config_path(@bucket_config) %> |
<%= link_to 'Back', bucket_configs_path %>
<%= link_to 'Next', job_path %>
