<p id="notice"><%= notice %></p>

<h1>Aws Keys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Accesskey</th>
      <th>Secretkey</th>
      <th>Region</th>
      <th>Default</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aws_keys.each do |aws_key| %>
      <tr>
        <td><%= aws_key.name %></td>
        <td><%= aws_key.accessKey %></td>
        <td><%= aws_key.secretKey %></td>
        <td><%= aws_key.region %></td>
        <td><%= aws_key.default %></td>
        <td><%= aws_key.user %></td>
        <td><%= link_to 'Show', aws_key %></td>
        <td><%= link_to 'Edit', edit_aws_key_path(aws_key) %></td>
        <td><%= link_to 'Destroy', aws_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aws Key', new_aws_key_path %>
